{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="/assets/css/container.css">
<link rel="stylesheet" href="/assets/css/table.css">
<link rel="stylesheet" href="/assets/css/button.css">





{% endblock %}

{% block content %}
<h1>Gestion des users</h1>


    
{% if user_type == 'admin' or user_type == 'manager'  %}
    <div class="add-btn-container">
        <a href="product/add">
            <button class="add-btn">+ product</button>
        </a>
    </div>
{% endif %}

<hr>



<hr>


<h2>RESULTAT</h2>
<div class="section-container">
{% if products is empty %}
        <span class="no-action">No products</span>

{% else %}
   


<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix achat(€)</th>
            <th>Prix vente(€)</th>
            <th>Catégorie</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr data-id="{{ product.id_product }}" class="clickable-row">
            <td>{{ product.sku|e }}</td>
            <td>{{ product.name|e }}</td>
            <td>{{ product.description|e }}</td>
            <td>{{ product.purchase_price|number_format(2, ',', ' ') }}</td>
            <td>{{ product.selling_price|number_format(2, ',', ' ') }}</td>
            <td>{{ product.category|e }}</td>
            <td>
    {% if user_type == 'admin' or user_type == 'manager' %}
        <div class="form-button-container">
            <!-- Bouton Edit -->
            <form method="GET" action="/product/edit">
                <input type="hidden" name="id_product" value="{{ product.id_product }}">
                <button type="submit" class="form-edit-btn"
                        onclick="event.stopPropagation(); return confirm('Modifier ce produit ?');">
                        Edit
                </button>
            </form>

            <!-- Bouton Delete -->
            <form method="POST" action="/product/delete">
                <input type="hidden" name="id_product" value="{{ product.id_product }}">
                <button type="submit" class="form-delete-btn"
                        onclick="event.stopPropagation(); return confirm('Supprimer ce produit ?');">
                    Delete
                </button>
            </form>
        </div>
    {% else %}
        <p class="no-action">Aucune action</p>
    {% endif %}
</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
   
    {% endif %}
    
</div>

<div class="modal fade" id="chartModal" tabindex="-1" aria-labelledby="chartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chartModalLabel">Statistiques du produit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <canvas id="myChart" height="100"></canvas>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block javascripts %}
    <script src="/assets/js/sort.js"></script>
    <script src="/assets/js/search.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/assets/js/modal.js"></script>



{% endblock %}